[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Simon-Schaab
	email = 153231600+Simon-Schaab@users.noreply.github.com
